server:
  port: 8091

spring:
  datasource:
    url: jdbc:mysql://localhost/plazoleta-powerup
    username: root
    password: asrf.07.15
  jpa:
    hibernate:
      ddl-auto: update
jwt:
  secret: ${KEYSECRET_SECURITY:eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.nZU_gPcMXkWpkCUpJceSxS7lSickF0tTImHhAR949Z-Nt69LgW8G6lid-mqd9B579tYM8C4FN2jdhR2VRMsjtA}
  expiration: ${EXPIRE_DAYS_SECURITY:3600000}

user:
  service:
    url: http://localhost:8090/user

twillio:
  accountSid: AC6f7c3755e94af14295c6340b3e4a3285
  authToken: a07020eb795ce47e701840a442daf371
  fromPhone: +13614410715

traceability:
  service:
    url: http://localhost:8092/trace

management:
  endpoints:
    web:
      exposure:
        include: "*"